@use "variables" as *;

html,
body {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Simpler Pro", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  background: #fbf5ff;
  color: $black-text;
}

main {
  flex: 1;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  @media (max-width: 1024px) {
    max-width: 904px;
    padding: 0 20px;
  }
}

.title-section {
  font-weight: 900;
  font-size: 48px;
  line-height: 110%;
  text-align: center;
  color: $black-text;
  @media (max-width: 1024px) {
    font-size: 40px;
  }
}

.section {
  margin-bottom: 120px;
  @media (max-width: 1024px) {
    margin-bottom: 90px;
  }
}

.button-sticy {
  position: fixed;
  bottom: 20px;
  left: 50%;
  backdrop-filter: blur(22.899999618530273px);
  background: rgba(138, 49, 239, 0.08);
  border-radius: 56px;
  padding: 15px;
  transform: translateX(-50%);
  button {
    padding: 16px 31px;
    background-color: $violet;
    color: #fff;
    border-radius: 49px;
    box-shadow: 0 9px 24px 0 rgba(138, 49, 239, 0.33);
  }
}
